* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.contact-title {
  background: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-top: 146px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.contact-title a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}
.fa-arrow-right-contact {
  margin-right: 5px;
  margin-left: 15px;
}
.contact-title h1 {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.contact-us-contacts-all {
  margin-top: 80px;
  display: flex;
}
.contact-us-contacts {
  list-style: none;
}

.contact-us-contacts-li {
  display: flex;
  margin-bottom: 20px;
}

.cont-li-ico {
  font-size: 24px;
  color: #fab701;
  width: 24px;
  margin-right: 20px;
}

.contact-us-contacts-h4 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #222;
  font-weight: bold;
}
.contact-us-contacts-p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-top: 5px;
  color: #777;
}
.contact-us-contacts-text {
  min-width: 100%;
}
.contact-us-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 50px;
}

.contact-us-form-input {
  margin-left: 20px;
  margin-right: 20px;
  min-width: 85%;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  font-size: 13px;
  border: 1px solid #0000001c;
}

.contact-us-form-text-area {
  max-height: 60%;
  border: 1px solid #0000001c;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  margin-left: 30px;
}
.contact-us-form-text-area::placeholder,
.contact-us-form-input::placeholder {
  color: #8c8c8c;
  font-family: "Roboto", sans-serif;
}

.contact-btn {
  grid-column: 1 / span 2;
  justify-self: end;
  max-width: fit-content;
  background-color: #fab700;
  color: white;
  border: 1px solid #fab700;
  padding: 18px 47px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
