* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.contact-title {
  background: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 146px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}
.fa-arrow-right-contact {
  margin-right: 5px;
  margin-left: 15px;
}
.contact-title h1 {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  color: white;
}
.contact-us-contacts {
  list-style: none;
  margin-top: 80px;
}

.contact-us-contacts-li {
  display: flex;
  margin-bottom: 20px;
}

.cont-li-ico {
  font-size: 24px;
  color: #fab701;
  width: 24px;
  margin-right: 20px;
}

.contact-us-contacts-h4 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #222;
  font-weight: bold;
}
.contact-us-contacts-p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-top: 5px;
  color: #777;
}
