@import "css-parts/header.css";
@import "css-parts/footer.css";

* {
  margin: 0;
  padding: 0;
}
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.contact-hero {
  color: white;
  font-family: "Roboto", sans-serif;
  background-image: url("/img/home-banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  margin-bottom: 120px;
}

.contact-hero div a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: color 500ms;
}

.contact-hero div a:hover {
  color: #fab700;
}

.contact-hero__home-link {
  position: relative;
  margin-right: 32px;
}

.contact-hero__home-link::before {
  position: absolute;
  right: -25px;
  content: " \25BA";
}

.contact-hero h1 {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 500;
}

/* contacts ======================================= */
.contact-us-contacts-all {
  padding-top: 80px;
  display: flex;
  padding-bottom: 120px;
}
.contact-us-contacts {
  list-style: none;
}

.contact-us-contacts-li {
  display: flex;
  margin-bottom: 20px;
}

.cont-li-ico {
  font-size: 24px;
  color: #fab701;
  width: 24px;
  margin-right: 20px;
}

.contact-us-contacts-h4 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #222;
  font-weight: bold;
}
.contact-us-contacts-p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-top: 5px;
  color: #777;
}
.contact-us-contacts-text {
  min-width: 100%;
}
/* /contacts ======================================= */
/* form ======================================= */

.contact-us-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 50px;
}

.contact-us-form-input {
  margin-left: 20px;
  margin-right: 20px;
  min-width: 85%;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  font-size: 13px;
  border: 1px solid #0000001c;
}

.contact-us-form-text-area {
  max-height: 60%;
  border: 1px solid #0000001c;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  margin-left: 30px;
}
.contact-us-form-text-area::placeholder,
.contact-us-form-input::placeholder {
  color: #8c8c8c;
  font-family: "Roboto", sans-serif;
}

.contact-btn {
  grid-column: 1 / span 2;
  justify-self: end;
  max-width: fit-content;
  background-color: #fab700;
  color: white;
  border: 1px solid #fab700;
  padding: 18px 47px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  transition: all 0.3s;
}
.contact-btn:hover {
  background-color: white;
  color: #fab700;
}
/* /form ======================================= */
