* {
  box-sizing: border-box;
}

/* .services-container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  } */

.services-flex {
  width: 100%;
  margin: 0 auto;
  background: url(/img/home-banner.jpg) no-repeat scroll center center;
  position: relative;
  height: 300px;
  /* z-index: -1; */
  text-align: center;
  background-position: top, center;
}

.ServicesText {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 500;
  top: 44%;
  left: 45%;
  position: absolute;
}

.link-services1 {
  font-size: 14px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 47.5%;
  transition: 200ms;
}

.link-services2 {
  font-size: 14px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 51.5%;
  transition: 200ms;
}

.link-services1:hover {
  color: #fab700;
}

.link-services2:hover {
  color: #fab700;
}

.fa-caret-right {
  margin-left: 10px;
}

.hd-nav-item-trans {
  transition: color 500ms;
}

.hd-nav-item-trans:hover {
  color: #fab700;
}

.hd-active {
  color: #fab700;
}

.offered-services {
  text-align: center;
  margin-top: 100px;
}

.offeredServices {
  font-size: 32px;
  font-weight: normal;
  color: #222222;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 12px;
}

.offeresServicesP {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-family: 'Roboto', sans-serif;
}

.grid-services {
  margin-top: 100px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service-item a {
  text-decoration: none;
}

.service-item-text {
  font-size: 20px;
  color: #222222;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

.service-item-text-p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  color: #777777;
}

.service-item {
  padding: 45px 55px;
  border-radius: 10px;
  transition: all 400ms;
}

.service-item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #777777;
}
