@import "css-parts/header.css";
@import "css-parts/skaitl.css";
@import "css-parts/footer.css";
@import "css-parts/hero.css";
@import "css-parts/latest-projects.css";
@import "css-parts/meet-experts.css";
@import "css-parts/feedback.css";
@import "css-parts/sponsors.css";
@import "services.css";
html {
  font-family: "Oswald", "Poppins", "Roboto" sans-serif;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
