* {
  box-sizing: border-box;
  font-size: 100%;
}

.footer-container {
  background-color: #222222;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-bendras {
  display: flex;
  flex-wrap: wrap;
  padding-right: -15px;
  padding-left: -15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  justify-content: space-between;
}

.footer-text {
  font-size: 20px;
  color: #fff;
  margin-bottom: 28px;
  font-family: 'Oswald', sans-serif;
}

.footer-inside1 {
  width: 262.5px;
}

.footer-inside2 {
  width: 277.5px;
}

.footerText {
  font-size: 14px;
  color: #777777;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
}

.footerLinks {
  color: #fab700;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-inside3 {
  margin-left: 8.3%;
  width: 457px;
}

.footer-input {
  width: 100%;
  border: 1px solid #33333333;
  font-size: 13px;
  line-height: 40px;
  padding-left: 40px;
  padding-right: 40px;

  border-radius: 20px;
  margin-top: 25px;
  color: #99999999;
}

.footer-button {
  background: #fab700;
  border-radius: 50%;
  font-weight: 300;
  line-height: 30px;
  height: 40px;
  cursor: pointer;
  border: 1px solid transparent;
  position: absolute;
  right: 1px;
  top: 27px;
  padding-left: 12px;
}

.footer-email {
  position: relative;
}

.footer-colorlib {
  color: #fab700;
  text-decoration: none;
  font-size: 14px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 85px;
}

.footer-icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  /* font-size: 100%; */
}

.footer-icons-links {
  color: white;
  background-color: #11111111;
  margin-left: 6px;
  transition: all 300ms;
  padding: 12px;
}

.footer-icons-links:hover {
  color: black;
  background-color: #fab700;
}
