* {
  box-sizing: border-box;
  font-size: 62.5%;
}

header {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd-nav {
  list-style: none;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 4rem;
}

.hd-nav-item {
  color: #222;
  text-decoration: none;
  font-size: 12px;
  padding-top: 43px;
  padding-bottom: 43px;
  display: inline;
}

.hd-nav-item-trans {
  transition: color 500ms;
}

.hd-nav-item-trans:hover {
  color: #fab700;
}

.hd-active {
  color: #fab700;
}
