.container {
  max-width: 1170px;
  margin: 0 auto;
}
.hero {
  position: relative;
  /* display: flex;
  justify-content: center; */
}
.img-hero {
  height: 80vh;
  max-height: 700px;
  width: 100%;
  max-width: 1900px;
  position: absolute;
  object-fit: cover;
}
.hero h1 {
  font-size: 3rem;
  font-weight: normal;
}
.hero-content {
  position: absolute;
  text-align: center;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  font-family: "Oswald", sans-serif;
  color: white;
}
.hero span {
  background-color: #fab702;
  border-radius: 0.4rem;
  padding: 0.5rem;
  color: black;
}
.hero-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.hero-btn {
  margin-top: 2rem;
  font-weight: bold;
  color: #fab702;
  background-color: #222222;
  padding: 1.5rem 40px;
  border-radius: 0.5rem;
  border: none;
}
.hero-btn:hover {
  background-color: #fab702;
  color: #222222;
}
