* {
  margin: 0;
  padding: 0;
}
.some-features-area {
  background-color: #fff;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.features-container {
  padding-top: 120px;
  padding-bottom: 120px;
  display: block;
  justify-content: center;
  align-items: center;
}
.features-title {
  text-align: center;
}
.features-title-h2 {
  margin-bottom: 12px;
  font-size: 36px;
  color: #222222;
  font-family: "Oswald", sans-serif;
}
.features-title-p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 75px;
  color: #777777;
}
.features-cards {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
  max-width: 960px;
  margin: 0 auto;
}
.features-item {
  background: #fff;
  height: 223px;
  width: 290px;
}
.features-one-item {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 40px 60px 40px 40px;
}
.features-card-title > i {
  font-size: 24px;
  padding-right: 15px;
  position: relative;
  top: 4px;
}
.features-card-title {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #222222;
  margin-bottom: 20px;
}
.features-card-text {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #777777;
}
.features-one-item:hover {
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  transition: all 300ms linear 0s;
}
.features-one-item:hover .features-card-title {
    color: #fab700;
    transition: all 300ms linear 0s;
}